* {
  font-family: 'Jost', sans-serif;
  
 
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}




/* HEADER STYLES */

header {
  color: white;
  text-align: center;
  padding: 20%;
  background: linear-gradient(90deg, #0e1b25 0%, #2a454b 50%, hsla(207, 41%, 27%, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 64px;
  text-shadow: 4px 4px black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 32px;
  padding: 5px;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: #98d9d9;
}

/* ABOUT SECTION */

#about {
  background-color: #98d9d9;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#headshot {
  display: inline;
  font-size: 32px;
  padding: 10px; 
 
}

#headshot img {
  width: 100%; 
  height: auto;
}

#about-desc {
  margin: 20px;
}

article {
  font-size: 22px;
}